@page
@model CompletedModel
@{
    ViewData["Title"] = "Completed bug reports";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    @foreach (var item in Model.CompletedBugs.Select((value, i) => new { i, value }))
    {
        <div class="row">
            <div class="col-2">
                <button type="submit" id="@item.i" asp-route-id="@item.value.Id" class="btn btn-info">Change Status</button>
            </div>
            <div class="col-10">
                <p> @item.value.Description</p>
            </div>
        </div>
    }
</form>
