@page
@model ReportModel
@{
    ViewData["Title"] = "Report Page";
}
<h1>@ViewData["Title"]</h1>

<form method="post" id="testid">
    <div>
        <input type="text" id="box" name="description"/>
    </div>
    <div class="col-12 row">
        <button type="submit" id="reportbutton" class="btn btn-info">Report</button>
    </div>
</form>

<script>
    function check() {
        if (document.getElementById('box').value == "")
        {
            alert("Cant send empty report");
            return false;
        }
        return true;
    }
</script>