@page
@model ViewModel
@{
    ViewData["Title"] = "Bug reports to do";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    @foreach (var item in Model.BugsToComplete.Select((value, i) => new { i , value}))
    {

    <div class="row">
        <div class="col-2">
            <button type="submit" id="@item.i" class="btn btn-info" asp-route-id="@item.value.Id">Change Status</button>
        </div>
        <div class="col-10">
            <p> @item.value.Description</p>
        </div>
    </div>
    }
</form>